{% extends "base.html" %}

{% block content %}
<h1>Prijava</h1>
<div class="d-flex align-items-center justify-content-center">
    {{ message }}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Korisničko ime:</label> <br>
            <input type="text" name="username" id="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Lozinka:</label> <br>
            <input type="password" name="password" id="password">
        </div>
        <button class="btn btn-submit" type="submit">Nastavi</button>
    </form>
</div>
{% endblock %}