<div class="row mt-5">
    <div class="col">
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id blanditiis magnam, quam, soluta ratione ducimus, quia rerum atque accusamus sequi iusto reiciendis amet! Unde, incidunt totam at necessitatibus ducimus vero!</p>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <label for="answer">Odgovor:</label>
        <input type="text" name="answer" id="answer">
        <button>Potvrdi</button>
    </div>
</div>