<div class="row w-50 mx-auto text-center h1 mt-5">
    <div class="col"><span class="border border-primary">x</span></div>
    <div class="col"><span class="border border-primary">x</span></div>
    <div class="col"><span class="border border-primary">x</span></div>
    <div class="col"><span class="border border-primary">x</span></div>
    <div class="col"><span class="border border-primary">x</span></div>
    <div class="col"><button class="btn btn-primary">Potvrdi</button></div>
</div>

<div class="row w-50 mx-auto text-center h1 mt-5">
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><button class="btn btn-primary" disabled>Potvrdi</button></div>
</div>

<div class="row w-50 mx-auto text-center h1 mt-5">
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><button class="btn btn-primary" disabled>Potvrdi</button></div>
</div>

<div class="row w-50 mx-auto text-center h1 mt-5">
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><button class="btn btn-primary" disabled>Potvrdi</button></div>
</div>

<div class="row w-50 mx-auto text-center h1 mt-5">
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><button class="btn btn-primary" disabled>Potvrdi</button></div>
</div>

<div class="row w-50 mx-auto text-center h1 mt-5">
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><button class="btn btn-primary" disabled>Potvrdi</button></div>
</div>

<hr class="w-50 mx-auto">
<div class="row w-50 mx-auto text-center h1 mt-5">
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><span class="border border-primary"></span></div>
    <div class="col"><button class="btn btn-primary" style="display:none">Potvrdi</button></div>
</div>