<div class="row">
    <div class="col">
        <h2 class="h2 text-center mt-5 mb-4"><span class="wanted-number" id="game1-wanted"></span></h2>
    </div>
</div>
<div class="row align-items-center justify-content-center text-center">
    <div class="col-2"><button id="game1-helper1" onclick="appendText('#game1-answer')"></button></div>
    <div class="col-2"><button id="game1-helper2" onclick="appendText('#game1-answer')"></button></div>
    <div class="col-2"><button id="game1-helper3" onclick="appendText('#game1-answer')"></button></div>
    <div class="col-2"><button id="game1-helper4" onclick="appendText('#game1-answer')"></button></div>
    <div class="col-2"><button id="game1-helper5" onclick="appendText('#game1-answer')"></button></div>
    <div class="col-2"><button id="game1-helper6" onclick="appendText('#game1-answer')"></button></div>
</div>
<div class="row align-items-center justify-content-center text-center">
    <div class="col-2"><button onclick="appendText('#game1-answer')">+</button></div>
    <div class="col-2"><button onclick="appendText('#game1-answer')">-</button></div>
    <div class="col-2"><button onclick="appendText('#game1-answer')">*</button></div>
    <div class="col-2"><button onclick="appendText('#game1-answer')">/</button></div>
    <div class="col-2"><button onclick="appendText('#game1-answer')">(</button></div>
    <div class="col-2"><button onclick="appendText('#game1-answer')">)</button></div>
</div>
<div class="text-center mt-3">
    <input type="text" id="game1-answer">
    <button id="game1-submit">Potvrdi</button>
</div>