<div class="row text-center my-3">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit est animi ea cumque reprehenderit veritatis
    velit asperiores sint. Necessitatibus qui quae aut incidunt asperiores esse nesciunt ut, voluptate veritatis
    quod!
</div>
<div class="text-center w-25 mx-auto">
    <div class="row">
        <div class="col"><button>a</button></div>
        <div class="col"><button>1</button></div>
    </div>
    <div class="row">
        <div class="col"><button>b</button></div>
        <div class="col"><button>2</button></div>
    </div>
    <div class="row">
        <div class="col"><button>c</button></div>
        <div class="col"><button>3</button></div>
    </div>
    <div class="row">
        <div class="col"><button>d</button></div>
        <div class="col"><button>4</button></div>
    </div>
    <div class="row">
        <div class="col"><button>e</button></div>
        <div class="col"><button>5</button></div>
    </div>
    <div class="row">
        <div class="col"><button>f</button></div>
        <div class="col"><button>6</button></div>
    </div>
    <div class="row">
        <div class="col"><button>g</button></div>
        <div class="col"><button>7</button></div>
    </div>
    <div class="row">
        <div class="col"><button>h</button></div>
        <div class="col"><button>8</button></div>
    </div>
    <div class="row">
        <div class="col"><button>i</button></div>
        <div class="col"><button>9</button></div>
    </div>
    <div class="row">
        <div class="col"><button>j</button></div>
        <div class="col"><button>10</button></div>
    </div>
</div>
<div class="row w-25 mx-auto mt-5">
    <button class="btn btn-primary">Potvrdi</button>
</div>